apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: platform-components

resources:
  - ../base

namePrefix: dev-

commonLabels:
  environment: dev
  managed-by: kustomize

patches:
  - patch: |-
      - op: replace
        path: /spec/acme/server
        value: https://acme-staging-v02.api.letsencrypt.org/directory
    target:
      kind: ClusterIssuer
      name: letsencrypt-prod
